<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (agent(); as agentRef) {
      <div class="jhi-form-panel">
        <h2 data-cy="agentDetailsHeading"><span jhiTranslate="peccnssApp.agent.detail.title">Agent</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ agentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.matricule">Matricule</span></dt>
          <dd>
            <span>{{ agentRef.matricule }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.nom">Nom</span></dt>
          <dd>
            <span>{{ agentRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.prenom">Prenom</span></dt>
          <dd>
            <span>{{ agentRef.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.dateNaissance">Date Naissance</span></dt>
          <dd>
            <span>{{ agentRef.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.telephone">Telephone</span></dt>
          <dd>
            <span>{{ agentRef.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.fonction">Fonction</span></dt>
          <dd>
            <span>{{ agentRef.fonction }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.photo">Photo</span></dt>
          <dd>
            @if (agentRef.photo) {
              <div>
                <img
                  [src]="'data:' + agentRef.photoContentType + ';base64,' + agentRef.photo"
                  style="max-height: 100px; cursor: pointer"
                  alt="agent photo"
                  (click)="openFile(agentRef.photo, agentRef.photoContentType)"
                />
                <span>{{ agentRef.photoContentType }}, {{ byteSize(agentRef.photo) }}</span>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.direction">Direction</span></dt>
          <dd>
            @if (agent()!.direction) {
              <div>
                <a [routerLink]="['/direction', agent()!.direction?.id, 'view']">{{ agentRef.direction?.nom }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.gestion">Gestion</span></dt>
          <dd>
            @if (agent()!.gestion) {
              <div>
                <a [routerLink]="['/gestion', agent()!.gestion?.id, 'view']">{{ agentRef.gestion?.nom }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="peccnssApp.agent.user">User</span></dt>
          <dd>
            <span>{{ agentRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/agent', agentRef.id, 'edit']" class="btn btn-accent">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
