<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (direction(); as directionRef) {
      <div>
        <h2 data-cy="directionDetailsHeading"><span jhiTranslate="peccnssApp.direction.detail.title">Direction</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ directionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.direction.code">Code</span></dt>
          <dd>
            <span>{{ directionRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.direction.nom">Nom</span></dt>
          <dd>
            <span>{{ directionRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.direction.region">Region</span></dt>
          <dd>
            @if (direction()!.region) {
              <div>
                <a [routerLink]="['/region', direction()!.region?.id, 'view']">{{ directionRef.region?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/direction', directionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
