<div>
  <h2 id="page-heading" data-cy="AyantDroitHeading">
    <span jhiTranslate="peccnssApp.ayantDroit.home.title">Ayant Droits</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="peccnssApp.ayantDroit.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ayant-droit"
        [routerLink]="['/ayant-droit/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="peccnssApp.ayantDroit.home.createLabel">Create a new Ayant Droit</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (ayantDroits().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="peccnssApp.ayantDroit.home.notFound">No Ayant Droits found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.ayantDroit.nom">Nom</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.ayantDroit.prenom">Prenom</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateNaissance">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.ayantDroit.dateNaissance">Date Naissance</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="lien">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.ayantDroit.lien">Lien</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="agent.id">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.ayantDroit.agent">Agent</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ayantDroit of ayantDroits(); track trackId(ayantDroit)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ayant-droit', ayantDroit.id, 'view']">{{ ayantDroit.id }}</a>
              </td>
              <td>{{ ayantDroit.nom }}</td>
              <td>{{ ayantDroit.prenom }}</td>
              <td>{{ ayantDroit.dateNaissance | formatMediumDate }}</td>
              <td [jhiTranslate]="'peccnssApp.LienParente.' + (ayantDroit.lien ?? 'null')">
                {{ { null: '', CONJOINT: 'CONJOINT', ENFANT: 'ENFANT', AUTRE: 'AUTRE' }[ayantDroit.lien ?? 'null'] }}
              </td>
              <td>
                @if (ayantDroit.agent) {
                  <div>
                    <a [routerLink]="['/agent', ayantDroit.agent.id, 'view']">{{ ayantDroit.agent.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ayant-droit', ayantDroit.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/ayant-droit', ayantDroit.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(ayantDroit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (ayantDroits().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
