<div>
  <div class="jhi-page-header">
    <h2 id="page-heading" data-cy="TypeSoinHeading">
      <span jhiTranslate="peccnssApp.typeSoin.home.title">Type Soins</span>
    </h2>

    <div class="jhi-page-actions">
      <button class="btn btn-outline-secondary" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="peccnssApp.typeSoin.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-accent jh-create-entity create-type-soin"
        [routerLink]="['/type-soin/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="peccnssApp.typeSoin.home.createLabel">Create a new Type Soin</span>
      </button>
    </div>
  </div>

  <jhi-alert-error />

  <jhi-alert />

  @if (typeSoins().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="peccnssApp.typeSoin.home.notFound">No Type Soins found</span>
    </div>
  } @else {
    <div class="jhi-table-panel table-responsive table-entities" id="entities">
      <table class="table jhi-table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.typeSoin.libelle">Libelle</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.typeSoin.description">Description</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="actif">
              <div class="d-flex">
                <span jhiTranslate="peccnssApp.typeSoin.actif">Actif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (typeSoin of typeSoins(); track trackId(typeSoin)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/type-soin', typeSoin.id, 'view']">{{ typeSoin.libelle }}</a>
              </td>
              <td>{{ typeSoin.description }}</td>
              <td>
                <span class="jhi-badge" [ngClass]="typeSoin.actif ? 'jhi-badge-actif-true' : 'jhi-badge-actif-false'">
                  {{ typeSoin.actif ? 'Actif' : 'Inactif' }}
                </span>
              </td>
              <td class="text-end">
                <div ngbDropdown class="d-inline-block" container="body">
                  <button type="button" class="btn btn-secondary btn-sm" ngbDropdownToggle data-cy="entityActionsButton">
                    <fa-icon icon="ellipsis-vertical" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.actions">Actions</span>
                  </button>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem [routerLink]="['/type-soin', typeSoin.id, 'view']" data-cy="entityDetailsButton">
                      <fa-icon icon="eye" class="me-1" />
                      <span jhiTranslate="entity.action.view">View</span>
                    </a>
                    <a ngbDropdownItem [routerLink]="['/type-soin', typeSoin.id, 'edit']" data-cy="entityEditButton">
                      <fa-icon icon="pencil-alt" class="me-1" />
                      <span jhiTranslate="entity.action.edit">Edit</span>
                    </a>
                    <button ngbDropdownItem type="button" (click)="delete(typeSoin)" data-cy="entityDeleteButton">
                      <fa-icon icon="times" class="me-1" />
                      <span jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (typeSoins().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
