<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profil(); as profilRef) {
      <div class="jhi-form-panel">
        <h2 data-cy="profilDetailsHeading"><span jhiTranslate="peccnssApp.profil.detail.title">Profil</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ profilRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.profil.nom">Nom</span></dt>
          <dd>
            <span>{{ profilRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.profil.description">Description</span></dt>
          <dd>
            <span>{{ profilRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.profil.authorities">Authorities</span></dt>
          <dd>
            @for (authority of profilRef.authorities; track authority) {
              <span class="jhi-badge me-1">{{ authority }}</span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/profil', profilRef.id, 'edit']" class="btn btn-accent">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
