<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ayantDroit(); as ayantDroitRef) {
      <div class="jhi-form-panel">
        <h2 data-cy="ayantDroitDetailsHeading"><span jhiTranslate="peccnssApp.ayantDroit.detail.title">Ayant Droit</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ ayantDroitRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.nom">Nom</span></dt>
          <dd>
            <span>{{ ayantDroitRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.prenom">Prenom</span></dt>
          <dd>
            <span>{{ ayantDroitRef.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.dateNaissance">Date Naissance</span></dt>
          <dd>
            <span>{{ ayantDroitRef.dateNaissance | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.lien">Lien</span></dt>
          <dd>
            <span
              class="jhi-badge"
              [ngClass]="'jhi-badge-lien-' + ayantDroitRef.lien"
              [jhiTranslate]="'peccnssApp.LienParente.' + (ayantDroitRef.lien ?? 'null')"
              >{{ { null: '', CONJOINT: 'CONJOINT', ENFANT: 'ENFANT', AUTRE: 'AUTRE' }[ayantDroitRef.lien ?? 'null'] }}</span
            >
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.photo">Photo</span></dt>
          <dd>
            @if (ayantDroitRef.photo) {
              <div>
                <img
                  [src]="'data:' + ayantDroitRef.photoContentType + ';base64,' + ayantDroitRef.photo"
                  style="max-height: 100px; cursor: pointer"
                  alt="ayant droit photo"
                  (click)="openFile(ayantDroitRef.photo, ayantDroitRef.photoContentType)"
                />
                <span>{{ ayantDroitRef.photoContentType }}, {{ byteSize(ayantDroitRef.photo) }}</span>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="peccnssApp.ayantDroit.agent">Agent</span></dt>
          <dd>
            @if (ayantDroit()!.agent) {
              <div>
                <a [routerLink]="['/agent', ayantDroit()!.agent?.id, 'view']">{{ ayantDroitRef.agent?.matricule }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/ayant-droit', ayantDroitRef.id, 'edit']" class="btn btn-accent">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
